<div class="admin-tweet">
  <ul class="sidebar">
    <li><i class="fas fa-indent"></i><i class="fas fa-outdent"></i></li>
    <li class="active"><a href="/admin/tweets"><i class="far fa-newspaper"></i>Tweets</a></li>
    <li><a href="/admin/users"><i class="far fa-id-card"></i>Users</a></li>
  </ul>
  <div class="main-content">
    <div class="results">
      <div class="search-field">
        <form action="">
          <input type="text" placeholder="使用者名稱">
          <button class="Button-secondary">搜尋</button>
        </form>
      </div>
      {{#each tweets}}
      <div class="individual-tweet">
        <div class="col-left">
          <div style="background-image:url({{this.User.avatar}})" class="avatar50px">
          </div>
        </div>
        <div class="col-right">
          <div class="tweet-info">
            <a href="/users/{{this.User.id}}/tweets">@{{this.User.name}}</a>
            <span>．{{moment this.createAt}}</span>
            &nbsp;&nbsp;
            <a href="/admin/tweets/{{this.id}}/delete">
              <i class="fas fa-trash fa-lg"></i>
            </a>

          </div>
          <div class="profile-tweet-description">
            <p>{{this.description}}</p>
          </div>
          <div>
            <span class="comment-section" data-reply="open">
              <i class="fas fa-caret-right fa-lg"></i>&nbsp;&nbsp;<i
                class="far fa-comment"></i>&nbsp;&nbsp;{{this.Replies.length}}
            </span>
          </div>
        </div>

      </div>

      <div class="tweet-reply">
        {{#each this.Replies}}
        <div class="reply-col-left-blank">
        </div>
        <div class="reply-result">
          <div class="reply-col-left">
            <a href="/users/{{this.User.id}}/tweets">
              <div style="background-image:url({{this.User.avatar}})" class="avatar50px">
              </div>
            </a>
          </div>
          <div class="reply-col-right">
            <a href="/users/{{this.User.id}}/tweets">
              @{{this.User.name}}
            </a>
            <span>replied:</span>
            <p>
              {{this.comment}}
            </p>
          </div>
        </div>
        {{/each}}

      </div>
      {{/each}}

      <ul>
        <li>
          <a href="/admin/tweets?page={{prev}}" aria-label="Previous">
            <span aria-hidden="true">«</span>
          </a>
        </li>
        {{#each totalPage}}
        {{#ifCond this ../page}}
        <li><a class="page-active" href="#">{{this}}</a></li>
        {{else}}
        <li><a href="/admin/tweets?page={{this}}">{{this}}</a></li>
        {{/ifCond}}
        {{/each}}
        <li>
          <a href="/admin/tweets?page={{next}}" aria-label="Next">
            <span aria-hidden="true">»</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<script src="/javascripts/admin.js"></script>