<div class="admin-user">
  <ul class="sidebar">
    <li><i class="fas fa-indent"></i><i class="fas fa-outdent"></i></li>
    <li class="active"><a href="/admin/tweets"><i class="far fa-newspaper"></i>Tweets</a></li>
    <li><a href="/admin/users"><i class="far fa-id-card"></i>Users</a></li>
  </ul>
  <div class="main-content">
    <div class="results">
      <div class="search-field">
        <form action="">
          <input type="text" placeholder="使用者名稱">
          <button class="Button-secondary">搜尋</button>
        </form>
      </div>
      <table class="table">
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Tweets</th>
          <th scope="col">Replies</th>
        </tr>

        {{#each tweets}}
        <tr>
          <td>
            <a href="/users/{{this.User.id}}/tweets">
              {{this.User.name}}
            </a>
          </td>
          <td>
            <a href="/users/{{this.id}}/tweets">
              {{this.description}}
            </a>
          </td>

          <td>
            <a href="/users/{{this.id}}/tweets">
              {{this.repliedCount}} Replies
            </a>
          </td>

        </tr>
        {{/each}}

      </table>
      <ul>
        <li>
          <a href="/admin/users?page={{prev}}" aria-label="Previous">
            <span aria-hidden="true">«</span>
          </a>
        </li>
        {{#each totalPage}}
        {{#ifCond this ../page}}
        <li><a class="page-active" href="#">{{this}}</a></li>
        {{else}}
        <li><a href="/admin/tweets?page={{this}}">{{this}}</a></li>
        {{/ifCond}}
        {{/each}}
        <li>
          <a href="/admin/tweets?page={{next}}" aria-label="Next">
            <span aria-hidden="true">»</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>