<div class="user-specific-page">
  {{!-- 左半側 --}}
  <div class="user-detail">
    <div style="background-image:url({{user.avatar}})" class="avatar70px">
    </div>
    <div class="user-info">
      <a href="/users/{{user.id}}/tweets">{{user.name}}</a>
    </div>
    <div class="user-describe">
      <p>{{user.introduction}}</p>
    </div>
    <div class="tweet-amount">
      <span>Tweets</span> <a href="/users/{{user.id}}/tweets">{{user.Tweets.length}}</a>
    </div>
    <div class="following-amount">
      <span>Following</span> <a href="/users/{{user.id}}/followings">{{user.Followings.length}}</a>
    </div>
    <div class="follower-amount">
      <span>Follower</span> <a href="/users/{{user.id}}/followers">{{user.Followers.length}}</a>
    </div>
    <div class="likes-amount">
      <span>Like</span> <a href="/users/{{user.id}}/likes">{{user.LikedTweets.length}}</a>
    </div>

    <div class="edit-or-follow">
      {{#ifCond user.id currentUser.id}}
      <a href="/users/{{currentUser.id}}/edit" class="Button-secondary">Edit Profile</a>
      {{else}}
      {{#if isFollowed}}
      <form action="/followships/{{user.id}}?_method=DELETE" method="POST">
        <button type="submit" class="Button-secondary">Unfollow</button>
      </form>
      {{else}}
      <form action="/followships/{{user.id}}" method="POST">
        <button type="submit" class="Button-secondary">Follow</button>
      </form>
      {{/if}}
      {{/ifCond}}
    </div>
  </div>

  {{!-- 右半側 --}}
  <div class="user-info-list">
    <p>Likes</p>
    {{#each likedList}}
    <div class="user-list">
      <div class="col-left">
        <div style="background-image:url({{this.User.avatar}})" class="avatar70px">
        </div>
        <div class="like-info">
          <a href="/users/{{this.UserId}}/tweets">@{{this.User.name}}</a>
        </div>
      </div>

      <div class="col-right">
        <p>{{this.description}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>